/*
  This css file is for individual users to restyle items for their personal site,
  or for the implementation of features specifically for their site. Anything that
  is an official part of the theme (ex. Pull Requests) should be included in main.css
  and follow the formatting and style given.
*/
#site-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: #559abe;
    color: white;
}

#link:hover {
    border-bottom-color: transparent;
    color: #bbb !important;
}